body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: burlywood;
    color: white;
    text-align: center;
    padding: 1em;
}

.logo {
    width: 75px;
}

.logo2 {
    width: 400px;
    margin: auto;
}
.logo-container {
    text-align: center;
    margin-top: 30px;
}
.navigation-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 0.5em;
    font-weight: bold;
    color: #162d50;
}

.image-menu {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

nav ul {
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
}

nav ul li {
    display: block;
    margin-right: 1.2em;
}

nav a {
    text-decoration: none;
    color: #162d50;
    font-size: 1.5em;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    background-color: #f2f3f5;
    
}

aside{
    max-width: 300px;
    height: 100%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 2px #ccc;
    border-radius: .5em;
    background-color: #fff;
}


section {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 2px #ccc;
    border-radius: .5em;
    background-color: #fff;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
}
